.section {
  margin-top: 9.6rem;
}

.section__content {
  margin: 0 auto;
  max-width: 111rem;
}

.productcard {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
}

.productcard picture img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.productcard__content {
  max-width: 44.5rem;
  margin: auto 0 auto auto;
}

.productcard__content span {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: hsl(22, 65%, 57%);

  margin-bottom: 2.4rem;
}

.productcard__title {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.05;

  margin-bottom: 2.4rem;
}

.productcard__text {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.7;
  color: hsl(0, 0%, 20%);

  margin-bottom: 3.2rem;
}

.productcard__price {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;

  margin-bottom: 2.4rem;
}

.productcard__form {
  display: flex;
  gap: 2.4rem;
}

.quantity-toggle {
  height: 4.8rem;
  display: flex;
}

.quantity-toggle button {
  cursor: pointer;
  border: none;
  font-family: inherit;

  font-size: 2rem;
  font-weight: bold;
  width: 4rem;
  color: hsl(0, 0%, 59%);
  background-color: hsl(0, 0%, 95%);
}

.quantity-toggle button:hover {
  color: hsl(22, 65%, 57%);
}

.quantity-toggle input {
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  width: 4rem;
  border: none;
  background-color: hsl(0, 0%, 95%);
}

/* BUTTONS */
.productcard__btn {
  cursor: pointer;
  font-family: inherit;
  border: none;

  background-color: hsl(22, 65%, 57%);
  color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5rem 3.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.productcard__btn:hover,
.productcard__btn:active {
  background-color: hsl(21, 94%, 75%);
}

.productcard__btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(28, 127, 214, 0.8);
}

/* FEATURES */
.section-features {
  max-width: 111rem;
  margin: 9.6rem auto 0;

  display: grid;
  grid-template-columns: 60fr 40fr;
  gap: 6.4rem;
}

.features__col-1 {
  max-width: 63.5rem;
}

.features__col-2 {
  max-width: 35rem;
}

.features__heading {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  margin-bottom: 2.4rem;
}

.features__features {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.7;
  color: hsl(0, 0%, 50%);
}

.features__includes {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.7;
  color: hsl(0, 0%, 20%);

  text-align: center;
}

.features__includes li {
  display: flex;
  gap: 2.4rem;

  margin-bottom: 0.8rem;
}

.features__quantity {
  font-weight: 700;
  color: hsl(22, 65%, 57%);
}

.features__item {
}

/* GALLERY */
.section-gallery {
  margin-top: 9.6rem;
}

.gallery__content {
  max-width: 111rem;
  height: 59.2rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 40fr 60fr;
  grid-template-rows: 1fr 1fr;
  gap: 3.2rem;
  overflow: hidden;
}

.gallery__first,
.gallery__second {
  grid-column: 1 / span 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.gallery__third {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.others__text {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4.8rem;
}

/* OTHERS */
.section--others {
  margin-top: 9.6rem;
}

.others__content {
  max-width: 111rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.others__card {
  max-width: 35rem;
  height: 47.1rem;
}

.others__card picture img {
  width: 100%;
  height: 31.8rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 3.2rem;
}

.card__content {
  text-align: center;
}

.others__name {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 1px;

  margin-bottom: 3.2rem;
}

.others__link:link,
.others__link:visited {
  display: inline-block;
  text-decoration: none;
  background-color: hsl(22, 65%, 57%);
  color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5rem 3.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.others__link:hover,
.others__link:active {
  background-color: #fbaf85;
}

.others__link:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(28, 127, 214, 0.8);
}

/* ****************************** */
/* TABLETS */

@media (max-width: 1080px) {
  .section__content {
    max-width: 108rem;
  }

  .productcard {
    max-width: 69rem;
    margin: 0 auto;
  }

  .productcard__image {
    width: 281px;
  }

  .productcard__content {
    max-width: 34rem;
  }

  /* OTHERS */
  .others__content {
    max-width: 69.1rem;
    justify-content: center;
    gap: 1.2rem;
  }

  /* GALLERY */
  .gallery__content {
    max-width: 69rem;
    height: 36.8rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 40fr 60fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.2rem;
    overflow: hidden;
  }

  .gallery__first,
  .gallery__second,
  .gallery__third {
    width: 100%;
    height: 100%;
  }

  /* FEATURES */
  .section-features {
    max-width: 69rem;
    grid-template-columns: 1fr;
  }

  .features__col-1 {
    max-width: none;
  }

  .features__col-2 {
    max-width: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
/* ****************************** */
/* PHONES */
@media (max-width: 640px) {
  .section {
    margin-top: 6.4rem;
  }

  .section__content {
    max-width: 32.7rem;
  }

  .productcard {
    width: 100%;
    grid-template-columns: 1fr;
    text-align: left;
  }

  .productcard__content {
    margin-top: 3.2rem;
  }

  .productcard__title {
    font-size: 2.8rem;
    letter-spacing: 1px;
  }

  .section-features {
    max-width: 32.7rem;
  }

  .features__col-2 {
    grid-template-columns: 1fr;
  }
  /* GALLERY */
  .gallery__content {
    max-width: 32.7rem;
    height: 75.6rem;
    grid-template-columns: 1fr;
  }

  .gallery__first,
  .gallery__second,
  .gallery__third {
    grid-column: 1 / span 1;
  }

  /* OTHERS */

  .others__content {
    max-width: 32.7rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .others__card {
    width: 100%;
    height: 26.5rem;
  }

  .others__card picture img {
    height: 12rem;
  }

  .card__content {
    text-align: center;
  }

  .others__name {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1px;

    margin-bottom: 3.2rem;
  }
}
