.about {
  margin-top: 9.6rem;
}

.about__content {
  max-width: 111rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

.about__heading {
  font-size: 4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.05;
  margin-top: 2.4rem;
}

.about__heading span {
  color: hsl(22, 65%, 57%);
}

.about__text {
  font-size: 1.5rem;
  line-height: 1.7;
  color: hsl(0, 0%, 50%);
  margin-top: 2.4rem;
}

.text__content {
  width: 44.5rem;
  margin: 0 auto;
  align-self: center;
}

.large-image {
  border-radius: 1rem;
}

/* ****************************** */
/* MEDIA QUERIES */
@media (max-width: 1024px) {
  .about__content {
    width: 68.9rem;
    grid-template-columns: 1fr;
  }

  .text__content {
    width: 57.3rem;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .about__content {
    width: 32.7rem;
  }

  .text__content {
    width: 100%;
  }

  .about__heading {
    font-size: 2.8rem;
  }
}
