.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.cart__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
  width: 37.7rem;
  min-height: 44rem;
  border-radius: 1rem;
  padding: 3.6rem;
}

.box__1 {
  display: flex;
  justify-content: space-between;

  margin-bottom: 3.6rem;
}

.total__items {
  font-size: 1.8rem;
  font-weight: 700;
}

.cart__items__container {
}

.cart__item {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  gap: 1.2rem;
  align-items: center;

  margin-bottom: 3.6rem;
}

.cart__item__image {
  width: 6.4rem;
  width: 6.4rem;
  border-radius: 1rem;
}

.cart__item__info {
  width: 100%;
}

.cart__item__name {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 6%);
}

.cart__item__price {
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(0, 0%, 50%);
}

/* CUSTOM INPUT */
.quantity-toggle {
  height: 4.8rem;
  display: flex;
}

.quantity-toggle button {
  cursor: pointer;
  border: none;
  font-family: inherit;

  font-size: 2rem;
  font-weight: bold;
  width: 4rem;
  color: hsl(0, 0%, 59%);
  background-color: hsl(0, 0%, 95%);
}

.quantity-toggle input {
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  width: 4rem;
  border: none;
  background-color: hsl(0, 0%, 95%);
}

.cart__total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 3.6rem;
}

.cart__text {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.cart__total {
  font-size: 1.8rem;
  font-weight: 700;
}

/* ************************* */
.remove-all__btn {
  cursor: pointer;
  font-family: inherit;
  border: none;

  font-size: 1.5rem;
  letter-spacing: 1px;
  color: hsl(0, 0%, 50%);
  background-color: transparent;
  text-decoration: underline;
}

.remove-all__btn:hover,
.remove-all__btn:active {
  color: hsl(22, 65%, 57%);
}

.remove-all__btn:focus {
  outline-offset: 5px;
  outline: 3px solid hsl(22, 65%, 57%);
}
/* ************************* */
.checkout__link:link,
.checkout__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5rem 3.5rem;
  background-color: hsl(22, 65%, 57%);
  color: hsl(0, 0%, 100%);

  width: 100%;
  text-align: center;
}

.checkout__link:hover,
.checkout__link:active {
  background-color: #fbaf85;
}

.checkout__link:focus {
  outline-offset: 5px;
  outline: 3px solid hsl(0, 0%, 100%);
}
