.featurerow {
  margin-top: 9.6rem;
}

.featurerow__content {
  max-width: 111rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2.4rem;
}

.feature__card {
  position: relative;
  width: 35rem;
  height: 28rem;
}

.feature__image {
  width: 18rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.feature__content {
  position: absolute;
  bottom: 0;

  height: 70%;
  width: 100%;
  background-color: hsl(0, 0%, 95%);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature__content p {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  text-align: center;
  margin-top: 9.6rem;
}

.feature__link:link,
.feature__link:visited {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: hsl(0, 0%, 6%);
  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.feature__link:hover,
.feature__link:active {
  color: #d87d4a;
}

.feature__link:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(28, 127, 214, 0.8);
}

/* ****************************** */
/* MEDIA QUERIES */
@media (max-width: 1080px) {
  .featurerow__content {
    width: 68.9rem;
    gap: 1rem;
  }

  .feature__card {
    max-width: 22.3rem;
  }
}

@media (max-width: 711px) {
  .featurerow__content {
    max-width: 32.7rem;
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .feature__card {
    max-width: 32.7rem;
  }
}
