.header {
  height: 8rem;
  background-color: hsl(0, 0%, 10%);
}

.header__content {
  max-width: 108rem;
  height: 100%;
  padding: 0 1.2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(0, 0%, 100%);
}

.header__btn,
.header__menu {
  display: none;
}

.header__nav {
  width: 40.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link:link,
.nav__link:visited {
  color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:active {
  color: hsl(22, 65%, 57%);
}

.nav__link:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(28, 127, 214, 0.8);
}

.header__link:link,
.header__link:visited {
  display: flex;
  justify-content: center;
  align-content: center;
}

.header__link:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(28, 127, 214, 0.8);
}

/* ****************************** */
/* MEDIA QUERIES */
@media (max-width: 768px) {
  .header__btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 2.4rem;
  }

  .header__btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.5rem rgba(28, 127, 214, 0.8);
  }

  .header__menu {
    display: inline-block;
  }

  .header__nav {
    display: none;
  }

  .header__link {
    margin-left: auto;
  }
}

@media (max-width: 640px) {
  .header__link {
    margin-left: 0;
  }
}
