.header {
  /* slightly lighter to match hero image */
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 100%);
  height: 8rem;
}

.header__content {
  max-width: 111rem;
  height: 100%;
  margin: 0 auto;
  padding: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid hsl(0, 0%, 100%);
}

.menu-icon {
  display: none;
}

.header__nav {
  width: 40.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link:link,
.nav__link:visited {
  color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:active {
  color: hsl(22, 65%, 57%);
}

.nav__link:focus {
  outline-offset: 5px;
  outline: 3px solid hsl(22, 65%, 57%);
}

.header__link:link,
.header__link:visited {
  display: flex;
  justify-content: center;
  align-content: center;
}

.header__link:focus {
  outline-offset: 5px;
  outline: 3px solid hsl(22, 65%, 57%);
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .header__content {
    max-width: 768rem;
  }

  .menu-icon {
    display: inline-block;
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 2.4rem;
  }

  .header__nav {
    display: none;
  }

  .header__link {
    margin-left: auto;
  }
}
