.hero {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 100%);
}

.hero__content {
  position: relative;
  max-width: 111rem;
  height: 65rem;
  padding: 12px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center -32px;
}

.hero__product {
  margin: auto auto auto 0;
  width: 39.8rem;
  height: 34.6rem;
  z-index: 999;
}

.hero__product span {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);

  margin-bottom: 2.4rem;
}

.hero__h1 {
  font-size: 5.6rem;
  letter-spacing: 2px;
  line-height: 1.05;
  text-transform: uppercase;

  margin-bottom: 2.4rem;
}

.hero__text {
  font-size: 1.5rem;
  line-height: 1.7;

  margin-bottom: 3.2rem;
}

.hero__link:link,
.hero__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5rem 3.5rem;
  background-color: hsl(22, 65%, 57%);
  color: hsl(0, 0%, 100%);
}

.hero__link:hover,
.hero__link:active {
  background-color: #fbaf85;
}

.hero__link:focus {
  outline-offset: 5px;
  outline: 3px solid hsl(0, 0%, 100%);
}

/* ****************************** */
/* MEDIA QUERIES */

@media (max-width: 768px) {
  .hero__content {
    max-width: 768px;
    grid-template-columns: 1fr;
    align-content: center;
    overflow: hidden;
  }

  .hero__image {
    display: none;
  }

  .hero__product {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 640px) {
  /* DYNAMICALLY CHANGE IMAGE AT BREAKPOINT ? */
  .hero__image {
    display: none;
  }

  .hero__h1 {
    font-size: 3.6rem;
    letter-spacing: 1px;
    line-height: 1.05;
    text-transform: uppercase;

    margin-bottom: 2.4rem;
  }
}
