.hero {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 100%);
}

.hero__content {
  position: relative;
  max-width: 111rem;
  height: 65rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero__content picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__product {
  z-index: 1;
  grid-column: 1 / span 1;
}

.hero__product span {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);

  margin-bottom: 2.4rem;
}

.hero__h1 {
  font-size: 5.6rem;
  letter-spacing: 2px;
  line-height: 1.05;
  text-transform: uppercase;

  margin-bottom: 2.4rem;
}

.hero__text {
  font-size: 1.5rem;
  line-height: 1.7;

  margin-bottom: 3.2rem;
}

.hero__link:link,
.hero__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5rem 3.5rem;
  background-color: hsl(22, 65%, 57%);
  color: hsl(0, 0%, 100%);
}

.hero__link:hover,
.hero__link:active {
  background-color: hsl(21, 94%, 75%);
}

.hero__link:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(28, 127, 214, 0.8);
}

/* ****************************** */
/* MEDIA QUERIES */

@media (max-width: 896px) {
  .hero__content {
    grid-template-columns: 1fr;
  }

  .hero__content picture img {
    object-position: bottom center;
  }

  .hero__product {
    width: min-content;
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .hero__h1 {
    font-size: 3.6rem;
  }

  .hero__product {
    width: 100%;
  }
}
