@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap");
/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Light: 300
Normal: 400
Medium: 500
Bold: 700

- Line heights
Small: 1.05
Large: 1.7

--- 02 COLORS
hsl(22, 65%, 57%) - Primary Color
hsl(21, 94%, 75%)

hsl(0, 0%, 0%)
hsl(0, 0%, 6%)
hsl(0, 0%, 10%);
hsl(0, 0%, 20%);

hsl(0, 0%, 100%)
hsl(0, 0%, 98%)
hsl(0, 0%, 95%)
hsl(0, 0%, 81%)
hsl(0, 0%, 59%)
hsl(0, 0%, 50%);


--- 05 SHADOWS
Regular: 
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
Medium: 
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

--- 06 BORDER-RADIUS
border-radius: 6px;
border-radius: 10px;

--- LETTER SPACING
0.5
Small: 1
Medium: 2
XX-Large: 10

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Gap
1.0
1.2
1.6
2.4
3.2

 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: hsl(0, 0%, 98%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loader {
  border: 16px solid hsl(0, 0%, 95%);
  border-top: 16px solid hsl(22, 65%, 57%);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;

  margin: 9.6rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
